/* FONTS */
/* @font-face {
  font-family: Poppins-Medium;
  src: url("../fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Montserrat-Medium;
  src: url("../fonts/montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url("../fonts/montserrat/Montserrat-SemiBold.ttf");
} */
/* Body */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
  background-image: url("../public/images/bg-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
}

/*-a-link-*/
a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
}

a:hover {
  text-decoration: none;
  color: #fc00ff;
  border-color: #865c86;
}

/*-heading 1,2,3 etc-*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

/*-input-*/
input {
  outline: none;
  border: none;
}

label {
  display: block;
  margin: 0;
}
/* button */
button {
  outline: none !important;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px 70px;
  background-color: rgb(110, 110, 110);
  margin-top: 20px;
}

button:hover {
  cursor: pointer;
  background: url("../public/images/bg-01.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.column1,
.column2 {
  margin-bottom: 15px;
}

.txt1 {
  font-family: Montserrat-SemiBold;
  font-size: 16px;
  color: #555555;
  line-height: 1.5;
}

.forget {
  font-family: Poppins-Regular;
  font-size: 14px;
  color: #999999;
  line-height: 1.5;
}

/* conatainer */
.wide {
  width: 100%;
  margin: 0 auto;
}

.container-main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.wrap {
  width: 500px;
  height: 400px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Form */

.forget .login-form-title {
  width: 100%;
  display: block;
  font-family: Montserrat-Medium;
  font-size: 39px;
  color: #555555;
  line-height: 1.2;
  text-align: center;
}

.form-button {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-bottom: 5px;
}

.member {
  text-align: center;
}

/* input */

.wrap-input {
  width: 100%;
  position: relative;
  background-color: #f7f7f7;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}

.input {
  font-family: Poppins-Regular;
  color: #282829;
  line-height: 1.2;
  font-size: 18px;
  width: 100%;
  background: transparent;
  height: 50px;
  padding: 0 80px;
  margin-top: 5px;
}

.focus-input {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  border: 1px solid #fc00ff;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
}

.input:focus + .focus-input {
  visibility: visible;
  opacity: 1;
}

.validate-input {
  position: relative;
}
.password {
  display: flex;
  justify-content: space-between;
}

/* media query*/
@media (max-width: 768px) {
  .wrap-login100 {
    padding-left: 60px;
    padding-right: 60px;
  }
}
